/* font variables */
:root {
  --font-family-sans: "Rubik", sans-serif;
  --font-size-base: 18px;
  --font-size-large: calc(2rem + 1vw); /* what is this?  */
  --font-size-medium: calc(1.5rem + 1vw);
  --font-color-primary: #020b02; /* #45a049 darkening towards black */

  /* Colors */
  --color-primary: #4caf50; /* Calm financial green - used in button*/
  --color-secondary: #419844; /* as above darkening towards black */
  --color-tertiary: #225624; /* as above darkening towards black - used in header logo and H1*/
  --color-quaternary: #4c97af; /* complementary blue - used in reset*/
  --color-quinary: #418398; /* as above darkening towards black - used in reset*/


}

* {
  box-sizing: border-box; /* This will make the padding and border to be included in the element's total width and height */
}

body {
  margin: 0; /* This will remove the default margin of the body */
  padding: 0; /* This will remove the default padding of the body */
  background: url(/assets/images/budget-lg.jpg) no-repeat center/cover fixed;
  font-family: var(--font-family-sans); /* Use the sans-serif font family */
  font-size: var(--font-size-base); /* Use the base font size */
  color: var(--font-color-primary); /* Use the primary font color */
  letter-spacing: 0.5px; /* Add a little space between letters */
}

/*----------------------------------------------------------------------*/
/* HEADER STYLES */
header {
  height: auto;
  display: flex;
  flex-direction: column; /* This will make the items to be stacked vertically */
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  color: var(--font-color-primary); /* Use the primary font color */
}

hr {
  width: 100%;
  color: var(--color-quinary);
  background-color: var(--color-quinary);
  height: 3px;
  border-radius: 1.5rem;
}

/*----------------------------------------------------------------------*/
/* Logo styles */
#h1-container {
  display: flex;;
}

#logo {
display: inline-block;
height: 100%;
margin-right: 20px;
color: #225624;
}

#logo-text {
display: inline-block;
text-align: left;
color: #225624;
}

/*----------------------------------------------------------------------*/

h1 {
  font-size: var(--font-size-large); /* Use the large font size */
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-medium); /* Use the medium font size */
  font-weight: normal;
}

h3{
  font-size: var(--font-size-base); /* Use the base font size */
  font-weight: normal;
}

/*----------------------------------------------------------------------*/

/*
.input-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
*/
/*
.results-section-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
*/
/* INPUT SECTION - Income and expenditure tables */

.input-section {
  width: 80%; /* Take up 80% of the viewport width */
  margin: 0 auto; /* Center the container */
}
/*----------------------------------------------------------------------*/

/* RESULTS SECTION - Results table */
.results-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  text-align: center;
}

/*----------------------------------------------------------------------*/

/* RESULTS TABLE AND CONTAINER */
.results-table-div {
  width : 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* TABLE STYLES */
/* General table styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 0.5px solid #555;
}

th { 
  font-family: var(--font-family-sans);
  border: 1px solid #333;
  padding: 16px 8px 16px 8px;
  text-align: left;
  font-size:large;
  font-weight: 600;
  letter-spacing: 2px;
  
}

td {
  padding: 5px 8px 5px 8px;
  text-align: left;
  /*border: 1px solid #333;*/
  width: 120px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #fff;
}

/* Results table specific styling */
#results-table tr {
  height : 60px;
 }

.td-results {
  text-align: right;
}

/*----------------------------------------------------------------------*/
/* INPUT FIELDS */
input, select {
  float: right;
  width: 120px;
  padding: 12px 20px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  font-size: 16px;
  text-align: center;
  font-family: var(--font-family-sans);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*----------------------------------------------------------------------*/
/* BUTTONS */

button {
  background-color: var(--color-primary);
  width : 200px;
  color: white;
  padding: 10px 20px;
  border: 0.5px solid #333;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  font-family: var(--font-family-sans);
  text-transform: uppercase;
}

button:hover {
  background-color: var(--color-secondary);
}


.button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#calculate-button {
  flex-grow: 1;
}

#reset {
  flex-shrink: 1;
  background-color: var(--color-quaternary);
}

#reset:hover {
  background-color: var(--color-quinary);
}


/*----------------------------------------------------------------------*/
/* Pie chart and Legend Container */
#pie-chart {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
}
.results-column {
  flex: 1;
  justify-items: center;
}

/* Canvas and Legend */
#pie-chart-canvas {
  width: 100%;
  margin: 0 auto;
}

#pie-chart-legend {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}

/*----------------------------------------------------------------------*/

/* Select element for alternating timeframe display*/

#select-timeframe-div {
  display: flex;
}

#select-timeframe {
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-quinary);
  color: white;
  /* remove default arrow */
  appearance: none;
}







/*----------------------------------------------------------------------*/

footer {
  background-color: var(--font-color-primary);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 10%;
  width: 100%;
}

/*----------------------------------------------------------------------*/

/* MEDIA QUERIES */

/* Default styles for mobile */
@media (max-width: 768px) {
  /* Table - Take up 90-95% viewport width */
  .input-section,
  .results-section,
  .results-table-div {
    width: 90%;
  }

  table {
    width: 100%;
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    margin: 0 auto;
  }
  
  /* Centered and resized select, number input fields */
  input, select {
    float: none; /* Reset floating */
    width: 100%; /* Full width */
    padding: 4px 8px; /* Slightly smaller padding for mobile */
    margin: 8px auto; /* Center and add space between */
    font-size: 14px;
  }

  /* Ensure buttons take up full width for accessibility on smaller screens */
  .button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  #calculate-button {
    width: 100%;
  }

  #reset {
    width: 100%;
  }

  /* Adjust header for mobile */
  header {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Adjust Pie chart and Legend display to stacked */
  #pie-chart {
    flex-direction: column;
  }
  #pie-chart-canvas {
}
  #pie-chart-legend {
    font-size: 16px;
  }
}
/*----------------------------------------------------------------------*/
/* STICKY CALCULATOR STYLING WIP */
/*
.sticky-banner {
  display: flex;
  background-color: #333;
  position: sticky;
  top: 50%;
  left: 0;
  width: 50px; 
  height: 50px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translateY(-50%);
}

.calc-container {
  width: 80%;
  margin: 0 auto;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
}
*/
/*----------------------------------------------------------------------*/